@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to TechWorld!</h1>
    <p class="lead">Find your favourite games, look by genres, platforms and publishers</p>
    <a class="btn btn-primary btn-lg" href="/Games">All games in one place</a>
</div>

<hr class="my-5" />

<div class="row">
    <div class="col-md-4 text-center mb-4">
        <i class="bi bi-list-task" style="font-size: 3rem;"></i>
        <h3 class="mt-3">Genres</h3>
        <p>Sort the games by the genre and find out new favourite releases.</p>
        <a href="/Genres" class="btn btn-outline-primary btn-sm">Genres</a>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="bi bi-pc-display" style="font-size: 3rem;"></i>
        <h3 class="mt-3">Platforms</h3>
        <p>Sort the games by the platform, which you want to play on.</p>
        <a href="/Platforms" class="btn btn-outline-primary btn-sm">Platforms</a>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="bi bi-controller" style="font-size: 3rem;"></i>
        <h3 class="mt-3">Publishers</h3>
        <p>Sort the games by the publisher you like.</p>
        <a href="/Publishers" class="btn btn-outline-primary btn-sm">Publishers</a>
    </div>
</div>
